# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
media/

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
