{% include 'animal_bite/header.html' %}

<div class="container" style="width: 100%">
  <div class="card rounded-0 my-3">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div>
          <h3 class="mb-0" style="color: #009e60">
            MHO Burauen Animal Bite Treatment Center
          </h3>
          <div class="subtitle">PhilHealth CF1 / CF2 / CSF Claim Form</div>
        </div>
      </div>
      <i class="fa-solid fa-dog header-icon-right"></i>
    </div>
  </div>
  <div class="card rounded-0">
    <div class="card-body">
      <button
        class="btn btn-light"
        style="
          background-color: #009e60;
          border-color: #009e60;
          color: #ffff;
          font-weight: bold;
        "
      >
        Submit Claim Form
      </button>
    </div>
  </div>
</div>

{% include 'animal_bite/footer.html' %}
